body {
    margin: auto;
    background-color: rgba(163, 91, 223, 0.363);
}

body h2 {
    margin: 0%;
    margin-top: 13%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin :  1% 40%;
    background-color: rgba(192, 192, 192, 0.623);
}

.content-back{
    margin :  11% 40%;
    background-color: rgba(212, 103, 158, 0.712);
    
}
h1 {
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#word {
    margin-left: 40%;
    font-family: 'Roboto', sans-serif;
    text-align: justify ;
    font-size: 25px;
}

 a {
	display: block;
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: center;
	padding: 14px 20px;
    text-decoration: none;
}

	/* change color on hover */
 a:hover {
	background-color:rgba(115, 238, 201, 0.363);
	font-family: 'Roboto', sans-serif;
    color: black;
}

ul {
    margin: 0%;
    padding:0%;
}

li {
    
    overflow: hidden;
}

footer {
    margin-top: 17%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}